// Location Map

.location-details {
  .location-label-container {
    .location-topic-map {
      position: inherit;
    }
  }
}

.location-and-website.map-location-enabled {
  .user-location-widget {
    .map-wrapper {
      position: inherit;
    }
    .map-container.small {
      top: auto;
      width: 100%;
      margin-top: 5px;
    }
  }
}

.user-main .about .primary .primary-textual .location-and-website.map-location-enabled .map-wrapper {
  min-width: 30px;
}